/* #up_footer{
    display: flex;

}
#up_footer img{
    height: 50px;
    width: 20px;
} */

footer{    
    width: 100%;
    margin: auto;
    height: auto;
    padding: 50px 0px;
    background: #111;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.quick_links,.info{
    padding: 0 !important;
}
#remove_top_margin{
    margin-top: 0;
}
footer .container{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

footer .container .sec{
    margin-right: 30px;
    text-align: left;
}

.aboutus{
    width: 40%;
}

footer .container h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}
footer .container h2::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;    
}

footer  p{
    color: #999;
}
.sci{
    margin-top: 20px;
    display: flex;
    padding: 0;
}

.sci li {
    list-style: none;
}
.sci li a{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
    color: #fff;
}
#sci_1:hover{
    background-color: #3b5998;
}
#sci_2:hover{
    background-color: #00ACEE;
}
#sci_3:hover{

background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
}
#sci_4:hover{
    background-color: red;
}
.quickLinks {
    position: relative;
    width: 25%;
}
.quickLinks ul li {
    list-style: none;
}

.quickLinks ul li a{
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}

.quickLinks ul li a:hover{
    color: #fff;
}

.contact{
    width: calc(35% - 60px);
    margin-right: 0 !important;
}

.contact .info {
    position: relative;
}

.contact .info li{
    display: flex;
    margin-bottom: 16px;
}

.contact .info li span:nth-child(1){
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}
.contact .info li span{
    color: #999;
}

.contact .info li a{
    color: #999;
    text-decoration: none;
}

.contact .info li a:hover{
    color: #fff;
}

.copyrightText{
    width: 100%;
    background: #181818;
    padding: 8px 0px;
    text-align: center;
    color: #999;
}

@media(max-width: 991px){
    footer{
        padding: 40px;
    }
    footer .container{
        padding: 40px;
    }
    footer .container .sec{
        margin-right: 0;
        margin-bottom: 40px;
    }
    footer .container .sec .aboutus,
    .quickLinks,
    .contact{
        width: 100%;
    }
    .copyrightText{
        padding: 8px 40px;
    }
}

.facility-area{
    background-color: #f7f8fa;
    padding-top: 70px;
    padding-bottom: 40px;
}
#details_banner{
    background-color: #f7f8fa;
    padding: 40px 0px 70px 0px;
}
#row_banner{
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: auto;
}
#banner_item img{
    width: 50px;
    color: #2a96ff;
}
#banner_item{
    border-right: 1px solid #e2e2e2;
    padding:0px 20px 0px 0px;
    display: flex;
}
#banner_item_serial h3{
    margin: 0;
    text-align: left;
}
#banner_item_serial p{
    margin-bottom:0 ;
    margin-top: 5px;
}
#banner_item_serial{
    height: fit-content;
    margin-top: 5%;
}
#banner_item img{
    height: fit-content;
    margin-top: 5%;
    padding: 0px 15px 0px 0px;
}
#banner_item:nth-last-of-type(1){
    border-right: none !important;
}
